<!doctype html>
<html><head>
    <title>打开文库具体路径</title>
	<link rel="stylesheet" href="../js/details.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head><body>
<h1>打开文库具体路径</h1>

<script type="text/javascript" src="https://openapi-daily.yyuap.com/h5-demo/js/esn.min.js"></script>
<script>
	window.onerror = function(err) {
		console.log('window.onerror: ' + err)
	}

	function log(name, obj) {
		console.log(name + " == " + obj);
	}

	var uniqueId = 1
	function log(message, data) {
		var log = document.getElementById('log')
		var el = document.createElement('div')
		el.className = 'logLine'
		el.innerHTML = uniqueId++ + '. ' + message + (data ? ':<br/>' + JSON.stringify(data) : '')
		if (log.children.length) { log.insertBefore(el, log.children[0]) }
		else { log.appendChild(el) }
	}

	YYEsnBridge.ready(function() {});

	var completeFunction = function(res) {
		console.log("complete data:" + res);
	}

	var successFunction = function(res) {
<!--    alert(JSON.stringify(res));-->
    var resultLabel = document.getElementById('result');
    resultLabel.innerHTML = "文库打开成功！";
	}

	var failFunction = function(res) {
		console.log("fail data:" + res);
	}

	function openLibraryFiles(e) {
		var data = {
            firstCatalog: 2,
            secondCatalog: 8094,
            thirdCatalog: 0,
			success: successFunction,
			fail:failFunction,
			complete:completeFunction
		};
		log('JS sending message', data)
		YYEsnBridge.do('openLibraryFiles', data)
	}

</script>

<div id='buttons'>
	<button onclick="openLibraryFiles(this)">打开文库具体路径</button><br>
</div>
<div>
  <p id="result"></p>
</div>

<div id='log'>
</div>
</body></html>
