<!doctype html>
<html>
    <head>
        <title>获取当前地理位置</title>
      <link rel="stylesheet" href="../js/details.css" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h1>获取当前地理位置</h1>
        <script type="text/javascript" src="https://openapi-daily.yyuap.com/h5-demo/js/esn.min.js"></script>
        <script>
            window.onerror = function(err) {
                console.log('window.onerror: ' + err)
            }

        function log(name, obj) {
            console.log(name + " == " + obj);
        }

        var uniqueId = 1
        function log(message, data) {
            var log = document.getElementById('log')
            var el = document.createElement('div')
            el.className = 'logLine'
            el.innerHTML = uniqueId++ + '. ' + message + (data ? ':<br/>' + JSON.stringify(data) : '')
            if (log.children.length) { log.insertBefore(el, log.children[0]) }
            else { log.appendChild(el) }
        }

        YYEsnBridge.ready(function() { })
                          
        var completeFunction = function(res) {
            console.log("complete data:" + res);
            }

        var successFunction = function(res) {
            alert(JSON.stringify(res));
            console.log("success data:" + res.name);
        }
        var failFunction = function(res) {
            console.log("fail data:" + res);
        }

        function getLocationInfo(e) {
            var data = {
                success: successFunction,
                fail:failFunction,
                complete:completeFunction
            };
            YYEsnBridge.do('getLocationInfo', data)
        }
        </script>
        <div id='buttons'>
            <button onclick="getLocationInfo(this)">获取当前地理位置</button><br><br>
        </div>
        <div id='log'>
        </div>
    </body>
</html>
