<!doctype html>
<html><head>
    <title>自定义分享</title>
	<link rel="stylesheet" href="../js/details.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head><body>
<h1>分享到友空间消息</h1>

<script type="text/javascript" src="https://openapi-daily.yyuap.com/h5-demo/js/esn.min.js"></script>
<script>
	window.onerror = function(err) {
		console.log('window.onerror: ' + err)
	}

	function log(name, obj) {
		console.log(name + " == " + obj);
	}

	var uniqueId = 1
	function log(message, data) {
		var log = document.getElementById('log')
		var el = document.createElement('div')
		el.className = 'logLine'
		el.innerHTML = uniqueId++ + '. ' + message + (data ? ':<br/>' + JSON.stringify(data) : '')
		if (log.children.length) { log.insertBefore(el, log.children[0]) }
		else { log.appendChild(el) }
	}

	YYEsnBridge.ready(function() {})


	var completeFunction = function(res) {
		console.log("complete data:" + res);

	}
	var successFunction = function(res) {
		console.log("success data:" + res.name);
	}
	var failFunction = function(res) {
		console.log("fail data:" + res);
	}


function shareWithType(e) {
    var data = {
        type:'0',
        title:'友空间客户端',
        desc:'分享描述',
        imageUrl:'',
        pageUrl:'https://www.baidu.com',
        success: successFunction,
        fail:failFunction,
        complete:completeFunction
    };
    YYEsnBridge.do('shareWithType', data)
}


	</script>
<div id='buttons'>

    <button onclick="shareWithType(this)">自定义分享</button><br><br>
</div>

<div id='log'>

</div>
</body></html>
