<!doctype html>
<html><head>
	<title>分享组件（有界面）</title>
	<link rel="stylesheet" href="../js/details.css" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head><body>
<h1>分享组件（有界面）</h1>

<script type="text/javascript" src="https://openapi-daily.yyuap.com/h5-demo/js/esn.min.js"></script>
<script>
	window.onerror = function(err) {
		console.log('window.onerror: ' + err)
	}

	function log(name, obj) {
		console.log(name + " == " + obj);
	}

	var uniqueId = 1
	function log(message, data) {
		var log = document.getElementById('log')
		var el = document.createElement('div')
		el.className = 'logLine'
		el.innerHTML = uniqueId++ + '. ' + message + (data ? ':<br/>' + JSON.stringify(data) : '')
		if (log.children.length) { log.insertBefore(el, log.children[0]) }
		else { log.appendChild(el) }
	}

	YYEsnBridge.ready(function() {
		// 页面初始化时就需要执行的JSAPI放到这里
		YYEsnBridge.registerHandler({
			'netWorkChange' : function(data, callback){
				// 需要再回调native时调用
				typeof callback === 'function' && callback({name:'FromJSName'});
			}
		});
	})

	var completeFunction = function(res) {
		console.log("complete data:" + res);
	}

	var successFunction = function(res) {
		console.log("complete data:" + res);
	}

	var failFunction = function(res) {
		console.log("fail data:" + res);
	}

	function showShareMenu(e) {
		var data = {
			title: '打开分享',
      type:0,
      desc:'分享描述',
      imageUrl:'http://ykj-esn-test.oss-cn-beijing.aliyuncs.com/1/17568/201608/9/14707122873d296fef7157c076a61342d6a5ff92e9.jpg.thumb.jpg',
      pageUrl:'http://ykj-esn-test.oss-cn-beijing.aliyuncs.com/1/17568/201608/9/14707122873d296fef7157c076a61342d6a5ff92e9.jpg.thumb.jpg',
			success: successFunction,
			fail:failFunction,
			complete:completeFunction
		};
		YYEsnBridge.do('showShareMenu', data)
	}

</script>

<div id='buttons'>
	<button onclick="showShareMenu(this)">分享带界面</button><br>
</div>
<div id='log'>
</div>
</body></html>
